@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<input type="button" class="btn btn-primary" title="" value="New Movie" onclick="location.href='@Url.Action("New", "Movies")'" />

<table class=“table table-­bordered table­‐hover”>
    <thead>
        <tr>
            <td>Movie Name</td>
            <td>Genre</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Title, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </tbody>

</table>
