@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any()){<p>There aren't any customers yet.</p>}

<table class=“table table-­bordered table­‐hover”>
    <thead>
        <tr>
            <td>Customer Name</td>
            <td>Membership Type</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var customer in Model)
        {
<tr>
    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
    <td>@customer.MembershipType.Name</td>
</tr>            }
    </tbody>

</table>




